@import './theme.css';
@import './ui.css';
@import './app.css';
@import 'katex/dist/katex.min.css';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font);
  color: var(--text-1);
  background: var(--bg);
}

button,
input,
select {
  font: inherit;
}

a {
  color: var(--accent);
}
